{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}

<p>Просто приветствие</p>
<a href="{{ url_for('hello') }}">
    <button class='btn btn-primary' type="submit">Приветствие</button>
</a>
<hr>
<p>Для загруки файла нажми на картинку или на кнопку</p>
<a href="{{ url_for('upload_img') }}">
    <img src="{{ url_for('static', filename='image/foto.jpg') }}" alt="---" width="100px">
</a>
<br>
<a href="{{ url_for('upload_img') }}">
    <button class='btn btn-primary' type="submit">Загрузка файла</button>
</a>
<hr>
<p class="text-body text-justify">Авторизоваться</p>
<a href="{{ url_for('log_in') }}">
    <button class='btn btn-primary' type="submit">Log-in</button>
</a>
<hr>
<p class="text-body text-justify">Посчитать количество символов</p>
<a href="{{ url_for('check_txt') }}">
    <button class='btn btn-primary' type="submit">Check текст</button>
</a>
<hr>
<p class="text-body text-justify">Калькулятор</p>
<a href="{{ url_for('calc') }}">
    <button class='btn btn-primary' type="submit">Calc</button>
</a>
<hr>
<p class="text-body text-justify">Проверка на совершенолетие</p>
<a href="{{ url_for('check_age') }}">
    <button class='btn btn-primary' type="submit">Проверка</button>
</a>
<hr>
<p class="text-body text-justify">Возведение числа в квадрат</p>
<a href="{{ url_for('square') }}">
    <button class='btn btn-primary' type="submit">Считать</button>
</a>
<hr>
<p class="text-body text-justify">Приветствие с flash</p>
<a href="{{ url_for('greetings') }}">
    <button class='btn btn-primary' type="submit">Приветствищще</button>
</a>
<hr>
<p class="text-body text-justify"><b>ДЗ №9 Email  форма с cookie и log-out, ДОБАВИЛ FLASH)))</b></p>
<a href="{{ url_for('form_mail') }}">
    <button class='btn btn-primary' type="submit">Заполнить</button>
</a>
<hr>

{% endblock %}