<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
    <body>
        <div class="container-fluid">
            <ul class="nav nav-pills justify-content-end align-items-end">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">На главную</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('registration') }}" class="nav-link">Регистрация</a>
                </li>
            </ul>
        </div>

        <div class="container d-flex justify-content-center">
            {% block content %}
            {% endblock  %}
        </div>

        <div class="container">
            <div class="row fixed-bottom modal-footer">
                <hr>
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2024 Copyright:
                </div>
            </div>
        </div>
    </body>
</html>